:root {
    font-family: "SN Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    flex-flow: row wrap;
}

.navbar {
    padding-left: 15px;
}

form {
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

form > * {
    width: 200px;
}