:root {
    font-family: "SN Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    --colore-nav: #202428;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* border: 1px solid black; */
}

nav {
    width: 100%;
}

form {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

form > * {
    width: 100px;
}

button {
    border: none;
    background: none;
} 